
header {
	width: 100%;
	background-color: darkgray;
	padding-top: 15px;
	padding-bottom: 15px;
}

header h2 {
	text-align: center;
}

header .container a{
	color: black;
	padding: 10px;
	text-decoration: none;
}

header .container a:hover {
	color: gray;
}

main{
	padding: 8%;
	text-align: center;
}

.container h3 button a {
	text-decoration: none;
	color: white;
	padding: 4px;
}

.container h3 button {
	margin-bottom: 10px;
}

footer {
	color: white;
	width: 100%;
	background-color: darkgray;
	text-align: center;
	padding: 5px 3px;
	font-size: 14px;
	position: fixed;
	bottom: 0;
}