* {
	margin: 0;
	padding: 0;
	font-family: "Droid Sans Mono Dotted";
}

.container {
	text-align: center;
	margin: 5% auto 0;
	width: 40%;
	height: 400px;
	background-color: #007bff;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-shadow: 4px 6px rgba(0,123,255, 0.25);
	color: white;
}

.container #begin{
	font-size: 18px;
	font-weight: bold;
	margin-top: 20%;
}

.container #begin a {
	color: white;
}

.container #begin a:hover {
	color: #454d55;
}

.container form {
	margin-top: 15%;
}

.container form p a{
	color: white;
}

.container form p a:hover {
	color: #454d55;
	text-decoration: none;
}

.container form .field {
	padding: 5px 0;
}

.container .backArrow {
	margin-top: 15px;
}

.container .backArrow a {
	text-decoration: none;
	color: white;
}

.container .backArrow a:hover {
	color: #454d55;
}

.container form .field label {
	padding-right: 10px;
}

.container form .field input {
	padding: 1px 10px;
}

.button {
	margin-top: 5px;
	padding: 10px;
	background-color: #4782F0;
	border-radius: 3px;
	color: white;
	font-size: 14px;
}

.button:hover {
	cursor: pointer;
	background-color: #454d55;
}

.container #menu {
	font-size: 17px;
	margin-top: 10%;
}

.container #menu p{
	margin-bottom: 5%;
}

.container #menu ul li {
	list-style: none;
	margin-bottom: 2%;
}

.container #menu ul li a{
	text-decoration: none;
	color: #454d55;
	font-weight: bold;
	font-size: 18px;
}

.container #menu ul li a:hover{
	color: white;
}

#admin {
	margin-top: 10%;
	color: #454d55;
}


/*404 error*/
#sorry{
	margin: 30% auto;
	text-align: center;
}

